<div class="nav-bar">
  <ul>
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li>{{#link-to "directions"}}Directions{{/link-to}}</li>
    <li>{{#link-to "guestbook"}}Guestbook{{/link-to}}</li>
  </ul>
</div>

{{yield}}
