
h2 {
  font-size: 48px;
}

h2, h3 {
  font-family: 'Lobster';
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/lobster/lobster1_4.otf')
}

#cover-image-div {
  border: 15px solid white;
  background-color: white;
  overflow: hidden;
}

#cover-image {
  width: 100%
}
